[package]
name = "libgrease"
version = "0.1.0"
edition = "2021"

[features]

[dependencies]

anyhow = { workspace = true }
async-trait = { workspace = true }
blake2 = { workspace = true }
chrono = { workspace = true }
curve25519-dalek = { version = "4.1.3", features = ["digest"] }
digest = "0.10.7"
futures = { version = "0.3.31" }
grease-babyjubjub = { workspace = true, features = ["serai"] }
hex = { workspace = true }
k256 = { version = "0.13", default-features = false, features = ["arithmetic"] }
log = "0.4.27"
monero = { workspace = true }
paste = "1.0.11"
rand_core = { workspace = true }
ron = {  workspace = true }
serde = { version = "1.0.219", features = ["derive"] }
subtle = "2.6.1"
thiserror = "2.0.12"
zeroize = {  workspace = true }

# Serai dependencies
ciphersuite = { workspace = true }
dalek-ff-group = { workspace = true }
dleq = { workspace = true }
flexible-transcript = { workspace = true }
modular-frost = {  workspace = true }

[dev-dependencies]
env_logger = "0.11.8"
sha3 = "0.10"
futures = { version = "0.3.31", features = ["executor"] }
serde_json = { workspace = true }
tokio = { version = "1", features = ["rt", "macros"] }
